body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	
	background-color: #ffffff;
}

.inner-page {
	color: #000000;
}

a,
.inner-page a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: none;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 1200px;
	min-height: 65px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.main-navigation-wrapper {
	padding-top: 49px;
	width: 100%;

	background-color: #eeeeee;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 2px;
	margin-top: 12px;
	width: 440px;
}

.user-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 12px;
	margin-left: auto;
	max-width: 160px;

	text-align: right;
}

.user-navigation .basket-open {
	position: relative;

	padding-left: 55px;
}

.basket-open::before {
	content: "";

	position: absolute;
	top: 17px;
	left: 17px;

	width: 17px;
	height: 17px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 200px;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	display: block;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-right: 2px;

	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
	border-bottom: 2px solid #fb565a;
}

.container {
	display: block;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.slider {
	position: relative;

	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;

	display: inline-block;
	vertical-align: baseline;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background: #ffffff;
	border-radius: 50%;
}

.slider ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slide {
	display: none;
	padding: 78px 0 80px 0;
	margin-bottom: 80px;

	background-color: #eeeeee;
}

.slide:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slide:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slide:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#product-1:checked~.slider-list .slide:nth-child(1) {
	display: block;
}

#product-2:checked~.slider-list .slide:nth-child(2) {
	display: block;
}

#product-3:checked~.slider-list .slide:nth-child(3) {
	display: block;
}

#product-1:checked~.slider-controls .slider-controls-one::before,
#product-2:checked~.slider-controls .slider-controls-two::before,
#product-3:checked~.slider-controls .slider-controls-three::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slide .slide-text {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.slide-header {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slide-three .slide-header {
	max-width: 450px;
}

.button {
	display: block;
	vertical-align: middle;
	width: 240px;
	padding: 13px 0;

	font: inherit;
	font-weight: 500;
	color: #ffffff;
	text-align: center;	
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: #e37376;

	background-color: #d7373b;
	-webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.service-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 79px;
	margin-right: 60px;

	list-style: none;
}

.service-web,
.service-apps,
.service-presentation {
	width: 300px;
}

.service-web h3,
.service-apps h3,
.service-presentation h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.service-web h3::before {
	content: "";

	display: block;
	width: 100%;
	height: 150px;
	margin-bottom: 21px;

	background-image: url("../img/illustration-1.png");
	background-repeat: no-repeat;
	background-color: #fb565a;
}

.service-apps h3::before {
	content: "";

	display: block;
	width: 100%;
	height: 150px;
	margin-bottom: 21px;

	background-image: url("../img/illustration-2.png");
	background-repeat: no-repeat;
	background-color: #00ca74;
}

.service-presentation h3::before {
	content: "";

	display: block;
	width: 100%;
	height: 150px;
	margin-bottom: 21px;

	background-image: url("../img/illustration-3.png");
	background-repeat: no-repeat;
	background-color: #efc849;
}

.service-web p,
.service-apps p,
.service-presentation p {
	margin-right: 50px;
	margin-bottom: 32px;
}

.service-web .button-service-web {
	width: 160px;
}

.service-apps .button-service-apps {
	width: 160px;

	background-color: #00ca74;
}

.service-apps .button-service-apps:hover,
.service-apps .button-service-apps:focus {
	background-color: #00bc6c;
}

.service-apps .button-service-apps:active {
	color: #4dc491;

	background-color: #00aa62;
}

.service-presentation .button-service-presentation {
	width: 160px;

	background-color: #efc84a;
}

.service-presentation .button-service-presentation:hover,
.service-presentation .button-service-presentation:focus {
	background-color: #eab534;
}

.service-presentation .button-service-presentation:active {
	color: #edc265;

	background-color: #e5a722;
}

.service::after,
.gallery::before,
.gallery::after {
	content: "";

	display: block;
	width: 100%;
	height: 2px;

	background-color: #eeeeee;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 0px;
	margin-bottom: 45px;
}

.description-header {
	margin: 0;
	padding: 0;
	margin-top: 75px;
	margin-bottom: 33px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.description-main-block>p {
	margin-right: 150px;
}

p.description-subheader {
	margin-bottom: 24px;
	margin-top: 39px;

	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.description-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.description-item {
	position: relative;

	margin-top: 11px;
	margin-bottom: 24px;
	padding-left: 37px;
}

.description-item::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 1px;

	display: block;
	width: 25px;
	height: 2px;

	background-color: #fb565a;
}

.description-secondary-block {
	min-width: 360px;
}

.description-secondary-block .description-subheader {
	padding: 0;
	margin: 0;

	text-align: center;
}

.description-secondary-block .description-subheader::before {
	content: "";

	display: block;
	width: 360px;
	height: 208px;
	margin: 40px 0;
	margin-bottom: 37px;

	background-image: url("../img/nerds-illustration.jpg");
	background-repeat: no-repeat;
}

.percent-list {
	margin-top: 50px;
}

.percent-list td {
	padding-right: 18px;
	padding-bottom: 28px;
	padding-left: 0;
}

.percent-list-item {
	font-size: 45px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
}

.percent-list-item sup {
	font-size: 61%;
}

.percent-list-description {
	font-size: 16px;
	line-height: 18px;
}

.gallery figure {
	margin: 0;
	padding: 0;
}

.gallery-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-left: 31px;
	margin-right: 43px;
	padding-top: 46px;
	padding-bottom: 37px;

	list-style: none;
}

.gallery-item {
	position: relative;
}

.gallery-list li:nth-child(1) {
	margin-right: 96px;
	padding-top: 10px;
}

.gallery-list li:nth-child(2) {
	margin-right: 103px;
}

.gallery-list li:nth-child(3) {
	margin-right: 121px;
}

.gallery-list li:nth-child(4) {
	padding-top: 7px;
}

.gallery-list li:nth-child(1)::after {
	content: "";

	position: absolute;
	top: 12px;
	left: 248px;

	height: 52px;
	width: 2px;

	background-color: #eeeeee;
}

.gallery-list li:nth-child(2)::after {
	content: "";

	position: absolute;
	top: 19px;
	left: 253px;

	height: 52px;
	width: 2px;

	background-color: #eeeeee;
}

.gallery-list li:nth-child(3)::after {
	content: "";

	position: absolute;
	top: 0;
	left: 241px;

	height: 52px;
	width: 2px;

	background-color: #eeeeee;
}

.gallery-item a {
	opacity: 0.2;
}

.gallery-item a:hover,
.gallery-item a:focus {
	opacity: 1;
}

.gallery-item a:active {
	opacity: 0.1;
}

.map {
	width: 100%;
	height: 416px;
	padding-top: 55px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: center 0;
	background-color: #eeeeee;
}

.map-contacts {
	position: absolute;
	z-index: 4;

	max-width: 320px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 55px;
	padding-top: 32px;
	padding-left: 50px;
	padding-bottom: 47px;
	padding-right: 55px;
	max-height: 310px;

	overflow-y: auto;
	background-color: #ffffff;
}

.map-contacts .adress,
.map-contacts .number {
	padding-left: 2px;

	font-size: 16px;
	line-height: 18px;
	color: #666666;
}

.map-contacts .adress {
	margin-top: 23px;
}

.map-contacts .number {
	margin-top: 18px;
	margin-bottom: 37px;
}

.map-contacts b {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.map-contacts .button-write-us {
	width: 219px;
}

.map .container {
	position: relative;
}

.map .container::after {
	content: "";

	position: absolute;
	top: 34px;
	left: 700px;
	z-index: 1;

	width: 231px;
	height: 190px;

	background-image: url("../img/map-marker.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-footer iframe {
	position: absolute;
	z-index: 3;

	width: 100%;

	border: none;
}

.footer-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 56px;
	padding-bottom: 56px;
}

.footer-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 260px;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.footer-social {
	width: 260px;
	margin-right: 140px;
}

.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 80px;
	height: 80px;

	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
	background-color: #e74246;
}

.social-button:active {
	background-color: #d7373b;
}

.social-button:active path {
	fill: #e37376;
}

.footer-text-header {
	margin: 0;
	padding: 0;
	padding-top: 19px;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-text {
	margin-top: 10px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 101;

	display: none;
	padding: 70px 100px 84px;
	width: 960px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	background-color: #ffffff;
	-webkit-box-shadow: 0 15px 50px 0 rgba(0, 1, 1, 0.8);
	box-shadow: 0 15px 50px 0 rgba(0, 1, 1, 0.8);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.modal-close {
	position: absolute;
	top: 78px;
	right: 90px;

	width: 21px;
	height: 21px;

	font-size: 0;
	background-color: #ffffff;
	opacity: 0.3;

	border: none;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
}

.modal h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 42px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.modal p {
	margin: 0;
	padding: 0;
}

.modal input[type="text"],
.modal input[type="email"] {
	padding: 14px 13px;
	width: 360px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 3px;
}

.modal-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 760px;
	margin-bottom: 35px;
}

.write-us-form p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.write-us-form textarea {
	padding: 10px 15px;
	width: 760px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 3px;
}

.write-us-form label {
	margin-bottom: 5px;
	padding-bottom: 4px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.write-us-form input,
.write-us-form textarea {
	color: #a1a1a1;

	background-color: transparent;
	border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	color: #444444;

	border: 2px solid #000000;
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
	color: #e74246;

	border: 2px solid #e74246;
}

.write-us-form .button-send-form {
	margin-top: 50px;
	width: 260px;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translate(-50%, -300%);
		transform: translate(-50%, -300%);
	}
	70% {
		-webkit-transform: translate(-50%, -30%);
		transform: translate(-50%, -30%);
	}
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translate(-50%, -300%);
		transform: translate(-50%, -300%);
	}
	70% {
		-webkit-transform: translate(-50%, -30%);
		transform: translate(-50%, -30%);
	}
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-51%, -50%);
		transform: translate(-51%, -50%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-49%, -50%);
		transform: translate(-49%, -50%);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-51%, -50%);
		transform: translate(-51%, -50%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-49%, -50%);
		transform: translate(-49%, -50%);
	}
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

.catalog-header {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 52px;
	padding-top: 78px;
	padding-bottom: 108px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;

	background-color: #eeeeee;
}

.inner-page .options {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.filter {
	padding-top: 3px;
	width: 260px;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;

	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;

	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;

	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	vertical-align: baseline;
	width: 50%;

	font-size: 16px;
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	color: #283136;

	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-price {
	text-align: right;
}

.filter-item .grid-options,
.filter-item .feature-options {
	color: #283136;
}

.filter-item ul {
	margin: 0;
	padding: 0;

	list-style: none;
	line-height: 25px;
}

.filter-item {
	margin: 0;
	padding: 0;
	margin-bottom: 28px;

	border: none;
}

.filter-item:first-child {
	margin-bottom: 56px;
}

.filter-radio:hover+label,
.filter-radio:focus+label {
	color: #000000;
}

.filter-radio:disabled+label,
.filter-checkbox:disabled+label {
	color: #bec1c2;
}

.filter-button {
	vertical-align: middle;
	margin-top: 4px;
	padding: 16px 89px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;	
	text-transform: uppercase;

	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #dfdfdf;
}

.filter-button:active {
	color: #959595;

	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.filter-item:nth-child(2) legend,
.filter-item:nth-child(3) legend {
	margin-bottom: 13px;
}

.filter-item li {
	margin-bottom: 15px;
	padding-left: 36px;
}

.grid-options label,
.feature-options label {
	position: relative;

	display: block;

	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.filter-radio+label::before {
	content: "";

	position: absolute;
	top: 0px;
	left: -35px;

	width: 28px;
	height: 28px;

	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-radio:checked+label::after {
	content: "";

	position: absolute;
	top: 0px;
	left: -35px;

	width: 28px;
	height: 28px;

	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-radio+label:hover::before,
.filter-radio+label:focus::before,
.filter-radio:checked+label:hover::after,
.filter-radio:checked+label:focus::after {
	opacity: 1;
}

.filter-radio:checked+label::before {
	display: none;
}

.filter-radio:disabled+label::before,
.filter-radio:disabled+label::after,
.filter-radio:disabled+label:hover::before,
.filter-radio:disabled+label:hover::after {
	opacity: 0.1;
}

.filter-checkbox+label::before {
	content: "";

	position: absolute;
	top: 1px;
	left: -35px;

	width: 28px;
	height: 28px;

	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-checkbox:checked+label::after {
	content: "";

	position: absolute;
	top: 1px;
	left: -35px;

	width: 28px;
	height: 28px;

	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-checkbox:checked+label::before {
	display: none;
}

.filter-checkbox+label:hover::before,
.filter-checkbox+label:focus::before,
.filter-checkbox:checked+label:hover::after,
.filter-checkbox:checked+label:focus::after {
	opacity: 1;
}

.filter-checkbox:disabled+label::before,
.filter-checkbox:disabled+label::after,
.filter-checkbox:disabled+label:hover::before,
.filter-checkbox:disabled+label:hover::after {
	opacity: 0.1;
}

.sort-options a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #b2b2b2;
	text-transform: uppercase;
}

.sort-options a:hover,
.sort-options a:focus {
	color: #666666;
}

.sort-options a:active {
	color: #000000;
}

.sort-options-active a,
.sort-options-active a:hover,
.sort-options-active a:focus,
.sort-options-active a:active {
	color: #000000;
}

.sort .options {
	padding: 0;
	margin: 0;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 760px;
	margin-bottom: 51px;
}

.sort ul {
	list-style: none;
}

.sort .sort-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 270px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: 48px;
}

.sort-list li {
	margin-right: 23px;
}

.sort-list li:last-child {
	margin-right: 0;
}

.sort-arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-right: 1px;
	min-width: 40px;
}

.sort-arrows a {
	opacity: 0.1;
}

.sort-arrows a:hover,
.sort-arrows a:focus {
	opacity: 0.4;
}

.sort-arrows a:active {
	opacity: 1;
}

.sort-arrow-active a,
.sort-arrow-active a:hover,
.sort-arrow-active a:focus,
.sort-arrow-active a:active {
	opacity: 1;
}

.cards ul {
	list-style: none;
}

.cards {
	width: 760px;
}

.cards>ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 28px;

	list-style: none;
}

.cards-block {
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
	padding-top: 40px;
}

.cards-block:nth-child(2n) {
	margin-right: 0;
}

.cards-block::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 360px;
	height: 40px;

	background-image: url("../img/browser.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cards-block:hover::before {
	background-image: url("../img/browser-hovered.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cards-block:hover {
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.cards-item-buy {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 360px;
	min-height: 231px;
	padding: 0 60px;
	padding-top: 27px;
	padding-bottom: 43px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;

	background-color: #eeeeee;
	opacity: 0;
}

.cards-block:hover .cards-item-buy {
	opacity: 1;
}

.cards-item-buy b {
	margin-right: 2px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
}

.cards-item-buy .cards-item-description {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
	text-align: center;
}

.cards-item-buy .button-card {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
}

.cards-item-buy>p {
	margin: 0;
	padding: 0;
	margin-top: 15px;
}

.pages ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
}

.pages li {
	margin-right: 12px;

	font-weight: 500;
	text-transform: uppercase;
}

.pages li:last-child {
	margin-right: 0;
}

.page-button a {
	display: block;
	padding: 13px 20px;
}

.next-page-button a {
	display: block;
	padding: 13px 77px;
}

.page-button a,
.next-page-button a {
	color: #000000;

	background-color: #eeeeee;
	border-radius: 4px;
}

.page-button a:hover,
.page-button a:focus,
.next-page-button a:hover,
.next-page-button a:focus {
	color: #000000;

	background-color: #dfdfdf;
}

.page-button a:active,
.next-page-button a:active {
	color: #959595;

	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.page-active a {
	padding: 10px 17px;

	color: #000000;

	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.page-active a:hover,
.page-active a:focus,
.page-active a:active {
	color: #000000;

	background-color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.main-footer {
	position: relative;

	margin-top: 80px;
}

.inner-page .main-footer {
	position: relative;

	margin-top: 59px;
}

.inner-page .footer-discount {
	color: #283136;
}